<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12 navbar-header">
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="input-group input-group-lg facets" role="group">
                    <span class="input-group-btn">
                        <a class="navbar-brand" href="/#/"><img src="https://secure.gravatar.com/avatar/344c215281fbce2fd50448e4a3c558d9?s=200&r=pg&d=wavatar" class="mesearch" /></a>
                        <span ng-repeat="facetGroup in searchresult.facets track by $index">
                            <span  ng-if="facetGroup.key == 'categories'">
                                <a ng-repeat="pair in facetGroup.value track by $index" ng-if="pair.active != true" ng-href="{{getFilterUrl(facetGroup, pair, searchresult.query)}}" class="btn btn-danger btn-lg">
                                    <i class="icon-{{pair.key}}"></i><span class="collapse navbar-collapse categories"> {{pair.key}}</span> <span class="count">{{pair.value}}</span>
                                </a>
                                <a ng-repeat="pair in facetGroup.value track by $index" ng-if="pair.active == true" ng-href="{{getUnFilterUrl(facetGroup, pair, searchresult.query)}}" class="btn btn-danger btn-lg active">
                                    <i class="icon-{{pair.key}}"></i><span class="collapse navbar-collapse categories"> {{pair.key}}</span> <span class="count">{{pair.value}}</span>
                                </a>
                            </span>
                        </span>
                    </span>
                    <span class="input-group input group-lg" style="float:right;" id="menuNavigators">
                        <button type="button" class="btn btn-primary btn-lg collapsed" data-toggle="collapse" data-target="#facets" aria-expanded="false">
                            <span class="icon-menu"></span>
                        </button>
                    </span>
                </div>
            </nav>



            <!-- Facets and Filters -->
            <div class="facets collapse navbar-collapse" id="facets">
                <input type="text" ng-model="searchTerm" class="form-control form-lg input-lg searchbox" placeholder="My digital life - Searchable" autofocus="autofocus" typeahead="suggestion for suggestion in matcher($viewValue)" typeahead-on-select="onSelect($item)" />
                <i class="icon-search"></i>
                <div ng-repeat="facetGroup in searchresult.facets track by $index">
                    <div class="filters" ng-if="facetGroup.key != 'categories'">
                        <b class="panel-title"><i class="icon-{{facetGroup.key}}"></i> </b>
                        <div class="btn-group" role="group" aria-label="...">
                            <a ng-repeat="pair in facetGroup.value track by $index" ng-if="pair.active != true" ng-href="{{getFilterUrl(facetGroup, pair, searchresult.query)}}" class="btn btn-default btn-md">
                                {{pair.key}} <span class="count">{{pair.value}}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Info: Applied filters and search result information -->
            <div class="results">
                <h2>
                    {{searchresult.totalHits}}
                    <small ng-if="searchresult.query">hits for </small>
                    <span ng-Bind="searchTerm"></span>
                    <span ng-if="searchresult.query.filter">
                        <small>filtered on</small>

                        <span ng-repeat="facetGroup in searchresult.facets track by $index">
                            <span ng-repeat="pair in facetGroup.value track by $index">
                                <span ng-if="pair.active == true">
                                    <a ng-if="facetGroup.key == 'categories'" ng-href="{{getUnFilterUrl(facetGroup, pair, searchresult.query)}}" class="btn btn-default btn-md"><i class="icon-{{pair.key}}"></i>{{pair.key}} <i class="icon-remove"></i></a>
                                    <a ng-if="facetGroup.key != 'categories'" ng-href="{{getUnFilterUrl(facetGroup, pair, searchresult.query)}}" class="btn btn-default btn-md"><i class="icon-{{facetGroup.key}}"></i>{{pair.key}} <i class="icon-remove"></i></a>
                                </span>
                            </span>
                        </span>
                    </span>
                </h2>

                <div ng-repeat="item in searchresult.hits track by $index">

                    <!-- Work -->
                    <div class="panel row" ng-if="item.document.categories[0] == 'work'">
                        <div class="type"><i class="icon-{{item.document.categories[0]}}"></i></div>
                        <div class="col-sm-8 left">
                            <h3>{{item.document.title}} <span><i class="icon-organizations"></i>{{item.document.company}}</span></h3>
                            <blockquote ng-show="item.document.teaser" ng-bind-html="trustworthy(item.document.teaser)"></blockquote>
                            <blockquote ng-show="!item.document.teaser" ng-bind-html="trustworthy(item.document.text)"></blockquote>
                            <p ng-show="item.document.imageurl">
                                <h4 ng-show="item.document.imageurl">Work example documents:</h4>
                                <ul>
                                    <li ng-show="item.document.imageurl" ng-repeat="projecturl in item.document.projecturl track by $index"><i class="icon-attachment"></i><a ng-href="{{projecturl}}">attachment {{$index + 1}}</a></li>
                                </ul>
                            </p>
                            <p ng-if="item.document.people != null">
                                <h4>People on the project:</h4>
                                <span ng-repeat="people in item.document.people track by $index"><a 
ng-href="/#/search?q=%7B%22query%22:%7B%22*%22:%5B%22{{people}}%22%5D%7D,%22facets%22:%7B%22categories%22:%7B%22sort%22:%22keyAsc%22%7D,%22types%22:%7B%7D,%22tags%22:%7B%22limit%22:10%7D%7D,%22teaser%22:%22teasertext%22,%22maxFacetLimit%22:20,%22offset%22:0,%22pageSize%22:50,%22filter%22:%7B%22categories%22:%5B%5B%22people%22,%22people%22%5D%5D%7D%7D">{{people}}</a>{{$last ? '' : ', '}}</span>
                            </p><p>&nbsp;</p>
                            <p ng-if="item.document.tags != null">
                                <span ng-repeat="tag in item.document.tags track by $index"><a ng-href="/#/search?q=%7B%22query%22:%7B%22*%22:%5B%22*%22%5D%7D,%22facets%22:%7B%22categories%22:%7B%22sort%22:%22keyAsc%22%7D,%22types%22:%7B%7D,%22tags%22:%7B%22limit%22:10%7D%7D,%22teaser%22:%22teasertext%22,%22maxFacetLimit%22:10,%22offset%22:0,%22pageSize%22:50,%22filter%22:%7B%22tags%22:%5B%5B%22{{tag}}%22,%22{{tag}}%22%5D%5D%7D%7D">#{{tag}}</a>{{$last ? '' : ', '}}</span>
                            </p>
                        </div>
                        <div class="col-sm-4 right">
                            <img ng-show="item.document.imageurl" ng-src="{{item.document.imageurl}}" />
                        </div>
                    </div>


                    <!-- People -->
                    <div class="panel row" ng-if="item.document.categories == 'people' && item.document.types[0] != 'myself'">
                        <div class="type"><i class="icon-{{item.document.categories[0]}}"></i></div>
                        <div class="col-sm-8 left">
                            <h3>{{item.document.title}} <span ng-show="item.document.phone"><i class="icon-types"></i><a href="/#/search?q=%7B%22query%22:%7B%22*%22:%5B%22*%22%5D%7D,%22facets%22:%7B%22categories%22:%7B%22sort%22:%22keyAsc%22%7D,%22types%22:%7B%7D,%22tags%22:%7B%22limit%22:10%7D%7D,%22teaser%22:%22teasertext%22,%22maxFacetLimit%22:20,%22offset%22:0,%22pageSize%22:50,%22filter%22:%7B%22categories%22:%5B%5B%22people%22,%22people%22%5D%5D,%22types%22:%5B%5B%22{{item.document.types[0]}}%22,%22{{item.document.types[0]}}%22%5D%5D%7D%7D">{{item.document.types[0]}}</a></span></h3>
                            <blockquote ng-show="item.document.teaser" ng-bind-html="trustworthy(item.document.teaser)"></blockquote>
                            <blockquote ng-show="!item.document.teaser">{{item.document.text}}</blockquote>
                            <p>Worked together at:
                                <span ng-repeat="organization in item.document.organization track by $index"><a ng-href="/#/search?q={%22query%22:{%22*%22:[%22{{organization}}%22]},%22facets%22:{%22categories%22:{%22sort%22:%22keyAsc%22},%22types%22:{},%22tags%22:{%22limit%22:10}},%22teaser%22:%22teasertext%22,%22maxFacetLimit%22:10,%22offset%22:0,%22pageSize%22:50}">{{organization}}</a>{{$last ? '' : ', '}}</span>
                                <br /> Roles:
                                <span ng-repeat="tag in item.document.tags track by $index">
                                    <a ng-href="/#/search?q=%7B%22query%22:%7B%22*%22:%5B%22*%22%5D%7D,%22facets%22:%7B%22categories%22:%7B%22sort%22:%22keyAsc%22%7D,%22types%22:%7B%7D,%22tags%22:%7B%22limit%22:10%7D%7D,%22teaser%22:%22teasertext%22,%22maxFacetLimit%22:10,%22offset%22:0,%22pageSize%22:50,%22filter%22:%7B%22tags%22:%5B%5B%22{{tag}}%22,%22{{tag}}%22%5D%5D%7D%7D">#{{tag}}</a>{{$last ? '' : ', '}}
                                </span>
                            </p>
                            <div ng-show="item.document.phone">
                                <h4>Contact information:</h4>
                                <i class="icon-email"></i><a ng-href="mailto:{{item.document.email}}">{{item.document.email}}</a>
                                <br />
                                <i class="icon-phone"></i><a ng-href="tel:+{{item.document.phone}}">{{item.document.phone}}</a>
                            </div>
                            <i class="icon-linkedin"></i><a ng-href="{{item.document.url}}">LinkedIn profile</a>
                        </div>
                        <div class="col-sm-4 right">
                            <img ng-src="{{item.document.img}}" />
                        </div>
                    </div>

                    <!-- People: Me -->
                    <div class="panel row me" ng-if="item.document.categories == 'people' && item.document.types[0] == 'myself'">
                        <div class="type"><i class="icon-{{item.document.categories[0]}}"></i></div>
                        <div class="col-sm-8 left">
                            <h3>{{item.document.title}}</h3>
                            <h4>
                                <span class="nobr"></span><i class="icon-knowledge"></i><a href="/#/search?q=%7B%22query%22:%7B%22*%22:%5B%22*%22%5D%7D,%22facets%22:%7B%22categories%22:%7B%22sort%22:%22keyAsc%22%7D,%22types%22:%7B%7D,%22tags%22:%7B%22limit%22:10%7D%7D,%22teaser%22:%22teasertext%22,%22maxFacetLimit%22:20,%22offset%22:0,%22pageSize%22:50,%22filter%22:%7B%22categories%22:%5B%5B%22knowledge%22,%22knowledge%22%5D%5D%7D%7D">Knowledge</a></span>
                                <span class="nobr"><i class="icon-file-pdf"></i><a href="/#/search?q=%7B%22query%22:%7B%22attestationtitle%22:%5B%22attestation%22%5D%7D,%22facets%22:%7B%22categories%22:%7B%22sort%22:%22keyAsc%22%7D,%22types%22:%7B%7D,%22tags%22:%7B%22limit%22:10%7D%7D,%22teaser%22:%22teasertext%22,%22maxFacetLimit%22:20,%22offset%22:0,%22pageSize%22:50,%22filter%22:%7B%22categories%22:%5B%5B%22organizations%22,%22organizations%22%5D%5D%7D%7D">Attestations</a></span>
                                <span class="nobr"><i class="icon-people"></i><a href="/#/search?q=%7B%22query%22:%7B%22*%22:%5B%22*%22%5D%7D,%22facets%22:%7B%22categories%22:%7B%22sort%22:%22keyAsc%22%7D,%22types%22:%7B%7D,%22tags%22:%7B%22limit%22:10%7D%7D,%22teaser%22:%22teasertext%22,%22maxFacetLimit%22:20,%22offset%22:0,%22pageSize%22:50,%22filter%22:%7B%22categories%22:%5B%5B%22people%22,%22people%22%5D%5D,%22types%22:%5B%5B%22reference%22,%22reference%22%5D%5D%7D%7D">References</a></span>
                                <span class="nobr"><i class="icon-work"></i><a href="/#/search?q=%7B%22query%22:%7B%22*%22:%5B%22*%22%5D%7D,%22facets%22:%7B%22categories%22:%7B%22sort%22:%22keyAsc%22%7D,%22types%22:%7B%7D,%22tags%22:%7B%22limit%22:10%7D%7D,%22teaser%22:%22teasertext%22,%22maxFacetLimit%22:20,%22offset%22:0,%22pageSize%22:50,%22filter%22:%7B%22categories%22:%5B%5B%22work%22,%22work%22%5D%5D%7D%7D">Example work</a></h4></span>
                            <blockquote ng-show="item.document.teaser" ng-bind-html="trustworthy(item.document.teaser)"></blockquote>
                            <blockquote ng-show="!item.document.teaser">{{item.document.text}}</blockquote>
                            <div ng-show="item.document.phone">
                                <h4>Contact information:</h4>
                                <i class="icon-email"></i><a ng-href="mailto:{{item.document.email}}">{{item.document.email}}</a>
                                <br />
                                <i class="icon-phone"></i><a ng-href="tel:+{{item.document.phone}}">{{item.document.phone}}</a>
                            </div>
                            <i class="icon-linkedin"></i><a ng-href="{{item.document.url}}">LinkedIn profile</a>
                        </div>
                        <div class="col-sm-4 right">
                            <img ng-src="{{item.document.img}}" />
                        </div>
                    </div>


                    <!-- Organization -->
                    <div class="panel row" ng-if="item.document.categories == 'organizations'">
                        <div class="type"><i class="icon-{{item.document.categories[0]}}"></i></div>
                        <div class="col-sm-8 left">
                            <h3><a ng-href="{{item.document.url}}">{{item.document.title}}</a> <span><i class="icon-types"></i><a ng-href="/#/search?q=%7B%22query%22:%7B%22*%22:%5B%22*%22%5D%7D,%22facets%22:%7B%22categories%22:%7B%22sort%22:%22keyAsc%22%7D,%22types%22:%7B%7D,%22tags%22:%7B%22limit%22:10%7D%7D,%22teaser%22:%22teasertext%22,%22maxFacetLimit%22:10,%22offset%22:0,%22pageSize%22:50,%22filter%22:%7B%22categories%22:%5B%5B%22organizations%22,%22organizations%22%5D%5D,%22types%22:%5B%5B%22{{item.document.types[0]}}%22,%22{{item.document.types[0]}}%22%5D%5D%7D%7D">{{item.document.types[0]}}</a></span></h3>
                            <span>{{item.document.datestart}} - {{item.document.dateend}}</span>
                            <blockquote ng-show="item.document.teaser" ng-bind-html="trustworthy(item.document.teaser)"></blockquote>
                            <blockquote ng-show="!item.document.teaser" ng-bind-html="trustworthy(item.document.text)"></blockquote>
                            <p ng-if="item.document.text != 'null'" ng-bind-html="item.document.text"></p>
                            <p ng-if="item.document.roles[0] != 'Student'">My roles:
                                <span ng-repeat="role in item.document.roles track by $index">
                                    {{role}}{{$last ? '' : ', '}}
                                </span>
                            </p>
                            <p ng-if="item.document.tags != null">
                                <span ng-repeat="tag in item.document.tags track by $index"><a ng-href="/#/search?q=%7B%22query%22:%7B%22*%22:%5B%22*%22%5D%7D,%22facets%22:%7B%22categories%22:%7B%22sort%22:%22keyAsc%22%7D,%22types%22:%7B%7D,%22tags%22:%7B%22limit%22:10%7D%7D,%22teaser%22:%22teasertext%22,%22maxFacetLimit%22:10,%22offset%22:0,%22pageSize%22:50,%22filter%22:%7B%22tags%22:%5B%5B%22{{tag}}%22,%22{{tag}}%22%5D%5D%7D%7D">#{{tag}}</a>{{$last ? '' : ', '}}</span>
                            </p>
                        </div>
                        <div class="col-sm-4 right">
                            <h4 ng-show="item.document.attestation"><i class="icon-file-pdf"></i><a ng-href="{{item.document.attestation}}">{{item.document.attestationtitle}}</a></h4>
                            <h4 ng-if="item.document.title == 'ComperioSearch' || item.document.title == 'Egmont Publishing' || item.document.title == 'Fast Search & Transfer'">
                                <i class="icon-work"></i><a ng-href="/#/search?q=%7B%22query%22:%7B%22orgname%22:%5B%22{{item.document.title}}%22%5D%7D,%22facets%22:%7B%22categories%22:%7B%22sort%22:%22keyAsc%22%7D,%22types%22:%7B%7D,%22tags%22:%7B%22limit%22:10%7D%7D,%22teaser%22:%22teasertext%22,%22maxFacetLimit%22:20,%22offset%22:0,%22pageSize%22:50,%22filter%22:%7B%22categories%22:%5B%5B%22work%22,%22work%22%5D%5D%7D%7D">Work</a> I've done at {{item.document.title}}
                            </h4>

                        </div>
                    </div>

                    <!-- Knowledge -->
                    <div class="panel row" ng-if="item.document.categories == 'knowledge'">
                        <div class="type"><i class="icon-{{item.document.categories[0]}}"></i></div>
                        <div class="col-sm-8 left">
                            <h3>{{item.document.title}} <span><i class="icon-types"></i><a ng-href="/#/search?q=%7B%22query%22:%7B%22*%22:%5B%22*%22%5D%7D,%22facets%22:%7B%22categories%22:%7B%22sort%22:%22keyAsc%22%7D,%22types%22:%7B%7D,%22tags%22:%7B%22limit%22:10%7D%7D,%22teaser%22:%22teasertext%22,%22maxFacetLimit%22:10,%22offset%22:0,%22pageSize%22:50,%22filter%22:%7B%22categories%22:%5B%5B%22knowledge%22,%22knowledge%22%5D%5D,%22types%22:%5B%5B%22{{item.document.types[0]}}%22,%22{{item.document.types[0]}}%22%5D%5D%7D%7D">{{item.document.types[0]}}</a></span></h3>
                            <blockquote ng-show="item.document.teaser" ng-bind-html="trustworthy(item.document.teaser)"></blockquote>
                            <blockquote ng-show="!item.document.teaser" ng-bind-html="trustworthy(item.document.text)"></blockquote>
                            <p ng-if="item.document.tags != null">
                                <span ng-repeat="tag in item.document.tags track by $index"><a ng-href="/#/search?q=%7B%22query%22:%7B%22*%22:%5B%22*%22%5D%7D,%22facets%22:%7B%22categories%22:%7B%22sort%22:%22keyAsc%22%7D,%22types%22:%7B%7D,%22tags%22:%7B%22limit%22:10%7D%7D,%22teaser%22:%22teasertext%22,%22maxFacetLimit%22:10,%22offset%22:0,%22pageSize%22:50,%22filter%22:%7B%22tags%22:%5B%5B%22{{tag}}%22,%22{{tag}}%22%5D%5D%7D%7D">#{{tag}}</a>{{$last ? '' : ', '}}</span>
                            </p>
                        </div>
                        <div class="col-sm-4 right">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
